.newFeatured-products {
    margin-top: 40px;
    
    .height {
        height: 400px;
    
    }

    .container {
        max-width: 1110px;
    }

    .container>.title {
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .product-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;


        .product-card {
            margin: 0;

            p {
                margin: 0;
            }

            .product-card-img {
                position: relative;

                img {
                    width: 100%;
                    object-fit: cover;
                }

                .menu-icons {
                    position: absolute;
                    top: 15px;
                    right: 15px;

                    .menu-link {
                        height: 50px;
                        width: 50px;
                        font-size: 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #ffffff;
                        color: #222529;
                        border-radius: 50%;
                        text-decoration: none;
                        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
                        margin-left: 1rem;
                        transition: background-color 0.25s, color 0.20s;
                        margin-bottom: 1rem;
                    }

                    & .menu-link:hover,
                    & .menu-link.active {
                        background-color: #222529;
                        color: #ffffff;
                        text-decoration: none;
                    }
                }

                .btn-theme {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }

            .product-card-body {
                text-align: center;
            }

            .product-card-category {
                font-size: 16px;
                font-weight: 500;
                color: #616365;
                margin-top: 15px;
            }

            .product-card-title {
                font-size: 20px;
                font-weight: 700;

            }

            .product-card-rating {
                color: #ff7373;
                font-size: 20px;
                margin-top: 10px;
            }

            .product-card-price {
                font-size: 22px;
                font-weight: 700;
                margin-top: 10px;
                margin-bottom: 15px;
            }
        }
    }

}


@include lg {

    .newFeatured-products .product-grid {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "product-0 product-1 product-2 product-3"
                              "product-4 product-5 product-6 product-7";


        #product-0 {
            grid-area: product-0;
        }

        #product-1 {
            grid-area: product-1;
        }

        #product-2 {
            grid-area: product-2;
        }

        #product-3 {
            grid-area: product-3;
        }

        #product-4 {
            grid-area: product-4;
        }

        #product-5 {
            grid-area: product-5;
        }

        #product-6 {
            grid-area: product-6;
        }

        #product-7 {
            grid-area: product-7;
        }

        .product-card {
            .product-card-img .menu-icons {
                top: 10px;
                right: 15px;

                .menu-link {
                    font-size: 16px;
                    height: 36px;
                    width: 36px;
                    margin-bottom: 8px;
                }
            }

            .product-card-img .btn-theme {
                padding: 13px 50px;
                font-size: 16px;
            }

            .product-card-category {
                font-size: 13px;
                font-weight: 500;
                color: #616365;
                margin-top: 10px;
            }

            .product-card-title {
                font-size: 16px;
                font-weight: 700;
            }

            .product-card-rating {
                color: #ff7373;
                font-size: 16px;
                margin-top: 5px;
            }

            .product-card-price {
                font-size: 18px;
                font-weight: 700;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
        
    }

    .newFeatured-products .product-grid {

        .product-card .product-card-img .product-card-menu {
            opacity: 0%;
            transition: all 0.15s;
        }

        .product-card:hover .product-card-img .product-card-menu {
            opacity: 100%;
        }
    }
   


}